body {
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(150deg,#353534,#dbba00);
    height: 190vh;
    }

    .corte{
        position: absolute;
        background-color: aliceblue;
        
    }

    .barba{
        position: absolute;
        left: 39%;
        background-color: aliceblue;

        
    
    }

   .mascarilla{
position: absolute;
left: 79%;
background-color: aliceblue;
   }